header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: #eee;
    padding: 20px;
  }
  
  .flexible {
    grid-column: 1 / 3;
    grid-row: 2 / 4; 
    background-color: #ccc;
  }

